<div class="modal fade" id="hardSkillModal" tabindex="-1" aria-labelledby="hardSkillModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="hardSkillModalLabel">New Hard Skill</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSend($event)">
        <!---- Modal Body ---->
        <div class="modal-body">
          <!-- HardSkill Title -->
          <div class="mb-3">
            <label for="hardSkillTitle" class="form-label">New Hard Skill Title</label>
            <input type="text" class="form-control shadow-none" id="hardSkillTitle" [(ngModel)]="title"
              formControlName="title">
          </div>
          <!-- HardSkill Level -->
          <div class="mb-3">
            <label for="hardSkillLevel" class="form-label">New Hard Skill Percentage</label>
            <input type="number" class="form-control shadow-none" id="hardSkillLevel" formControlName="percentage" [(ngModel)]="percentage">
            <!-- <input type="number" class="form-control shadow-none" id="hardSkillLevel" formControlName="percentage" [(ngModel)]="percentage" [ngClass]="{'is-invalid': HardSkill.errors && HardSkill.touched, 'is-valid': !HardSkill.errors && HardSkill.touched}">
            <div *ngIf="HardSkill.errors && HardSkill.touched">
              <p *ngIf="HardSkill.hasError('min')" class="text-danger">
                The minimum hard skill percentage is 0.
              </p>
              <p *ngIf="HardSkill.hasError('max')" class="text-danger">
                The max hard skill percentage is 100.
              </p>
            </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clean()">Clean form</button>
          <button type="submit" class="btn btn-secondary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>