<ul class="list-group list-group-horizontal">
  <!-- Linkedin -->
  <li class="list-group-item fa-2x">
    <a href="https://www.linkedin.com/in/julian-sanz-ba4270240/" target="_blank">
      <i class="fa-brands fa-linkedin  network-icon"></i>
    </a>
  </li>
  <!-- Github -->
  <li class="list-group-item fa-2x">
    <a href="https://github.com/JjuliSanz" target="_blank">
      <i class="fa-brands fa-github network-icon"></i>
    </a>
  </li>
  <!-- Code -->
  <li class="list-group-item fa-2x">
    <a href="#" target="_blank">
      <i class="fa-solid fa-laptop-code network-icon"></i>
    </a>
  </li>
  <!-- LogIn Button -->
  <app-login></app-login>
</ul>

